article.profile > h1 {
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 25px;
}

article.profile > h2 {
	font-size: 24px;
    font-weight: 400;
	margin-bottom: 10px;
}

/*-------------------------------------------------*/

article.profile > section {
    margin: 0px auto 20px;
}

article.profile > section.referrals {
    background-color: #f9fffd;
	border: 1px solid #132620;
	border-radius: 10px;
	box-shadow: 0px 5px 15px -10px #0f1e1a;
	box-sizing: border-box;
	max-height: 30vh;
	overflow-y: scroll;
	padding: 5px;
	width: 200px;
}

article.profile > section.referrer > form > li {
	margin-bottom: 5px;
}

article.profile > section.referrer > form > li > label {
	display: block;
}

article.profile > section.referrer > form > li > #id_referrer_code {
	background-color: #f9fffd;
	border: 1px solid #132620;
	border-radius: 10px;
	box-shadow: 0px 5px 15px -10px #0f1e1a;
    box-sizing: border-box;
	font-family: "Open Sans", "PT Sans", sans-serif;
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	width: 200px;
}

article.profile > section.referrer > form > p {
	margin-bottom: 10px;
}

article.profile form > button {
	background: none;
	border: 1.5px solid #132620;
	border-radius: 10px;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	margin: 5px auto 0px;
	padding: 2px 0px 5px;
	width: 90px;
}