{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link 
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap" 
            rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

        {% if instructions %}
        <link 
            rel="stylesheet" 
            href="{% static 'instruction/css/instruction_styles.css' %}">
        <link rel="icon" href="{% static 'instruction/images/info-circle.svg' %}">
        {% elif page_title == "Authorization" %}
        <link 
            rel="stylesheet" 
            href="{% static 'account/css/account_styles.css' %}">
        <link rel="icon" href="{% static 'account/images/door_open.svg' %}">
        {% elif page_title == "Referral Program" %}
        <link 
            rel="stylesheet" 
            href="{% static 'referral/css/referral_styles.css' %}">
        <link rel="icon" href="{% static 'referral/images/people.svg' %}">
        {% endif %}

        <title>{{ page_title }}</title>
    </head>
    <body>
        <div class="centering_container">
            <div class="centered_item">
                {% if instructions %}
                {% include "instruction/instruction_table.html" %}
                <form method="get">
                    <button 
                        type="submit" 
                        name="section" 
                        value="{{ page_title }}">
                        Back to {{ page_title }}
                    </button>
                </form>
                {% else %}
                {% block application %}{% endblock %}
                <form method="get">
                    <button type="submit" name="section" value="Instruction">
                        Open API Instructions
                    </button>
                </form>
                {% endif %}
            </div>
        </div>
    </body>
</html>